/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

$green:   $balanced;
$red:     $assertive;
$white:   #fff;

.item.contact {
  border-left: 10px solid $item-default-bg;
  //border-bottom: 1px solid white;

  &.online {
    border-left-color: $balanced;
  }

}

//noinspection CssOptimizeSimilarProperties
.contact {
  border-left-width: 10px;

  border-left-color: red;
}

.error-message {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: 1px solid $assertive;
  color: $assertive;
  background: lighten($assertive, 35%);
}

.list-inset .error-message {
  margin-bottom: 20px;
}

.button-positive {
  .spinner > svg {
    stroke: #fff;
    fill: #fff;
  }
}

.busy-button {
  line-height: inherit;
}


