      <ion-view view-title="Sign-In">
        <ion-content>
          <form name="loginform" ng-submit="loginform.$valid && login.login()">
            <div class="list list-inset">
              <div class="error-message" ng-if="login.error"><i class="icon ion-alert-circled"></i> <span>{{login.error}}</span></div>

              <label class="item item-input">
                <input type="text" ng-model="login.user.email" auto-focus="{{login.emailFocus}}" required placeholder="E-mail">
              </label>
              <label class="item item-input">
                <input type="password" ng-model="login.user.password" auto-focus="{{login.passwordFocus}}" required placeholder="Password">
              </label>
            </div>
            <div class="padding">
              <input type="submit" class="button button-block button-positive" ng-disabled="loginform.$invalid" value="Sign-In">
              <p class="text-center">
                <!--suppress HtmlUnknownAnchorTarget -->
                <a href="#/forgot-password">Forgot password</a>
              </p>
            </div>
          </form>
        </ion-content>
      </ion-view>

